.nav {
    display: table;
    width: 80%;
    margin: 48px auto 48px;
    font: italic 900 56px Exo;
    text-align: center;
}

.navItems {
    display: table-cell;
}

.btns button {
    width: 80px;
    border: none;
    background-color: transparent;
    font: inherit;
    font-size: 64px;

    cursor: pointer;
}

.btns button:hover { background-color: #ccc; }

.year {
    display: inline-block;
    padding: 0 10px;
    font-size: 32px;
}
.month {
    display: inline-block;
    padding: 0 10px;
    text-transform: uppercase;
}