.nav {
    display: table;
    width: 80%;
    margin: 48px auto;
    font: italic 900 56px Exo;
    text-align: center;
}

.navItems {
    display: table-cell;
}

.btns button {
    width: 80px;
    border: none;
    background-color: transparent;
    font: inherit;
    font-size: 64px;

    cursor: pointer;
}

.btns button:hover { background-color: #ccc; }

.year {
    display: inline-block;
    padding: 0 10px;
    font-size: 32px;
}
.month {
    display: inline-block;
    padding-left: 10px;
    text-transform: uppercase;
}

@media (max-width: 1096px) {
    .nav { font-size: 48px; }
    .btns button { width: 56px;font-size: 48px; }
}

@media (max-width: 860px) {
    .nav { font-size: 36px; }
    .year { font-size: 24px; }
    .btns button { width: 42px;font-size: 36px; }
}

@media (max-width: 618px) {
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 32px;
        font-size: calc(2vw + 12px);
        width: 90%;
    }
    .month { padding: 0; }
    .year { padding-right: 0;font-size: calc(2vw + 12px); }
    .btns button { width: calc(6vw + 6px);font-size: calc(3vw + 18px); }
}

@media (max-width: 360px) {
    .nav { width: 96%; }
}