.container {
    width: 1080px;
    /*min-width: 270px;*/
    margin: 0 auto;
    padding-bottom: 100px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media (max-width: 1096px) {
    .container { width: 840px; }
    .wrapper {
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        width: 800px;
    }
}

@media (max-width: 860px) {
    .container { width: 600px; }
    .wrapper { width: 560px; }
}

@media (max-width: 618px) {
    .container { width: calc(100vw - 18px); }
    .wrapper { width: calc(100% - 40px); }
}
