.tile {
    position: relative;
    height: 96px;
    padding: 0;
    border: 1px solid #000;
    vertical-align: top;
}

.span {
    position: absolute;
    top: 7px;left: 7px;
}

.texts {
    padding-top: 36px;
    padding-left: 7px;
}

.p {
    font-size: 12px;
    line-height: 1.5;

    text-overflow: ellipsis;
    white-space: nowrap;
}

.done { text-decoration: line-through; }

.selected {
    background-color: #0000ff;
    color: #ffffff;
}