@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,900&family=Gothic+A1:wght@200&display=swap');

body {
  font-family: 'Roboto', 'Gothic A1', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 16px;
  overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    margin: 0;padding: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media (max-width: 618px) {
    body { font-size: 12px; }
}